<html>
	<body> 
			This package contains all classes and interfaces needed to work in tandem with common JTable derived components.
			<br>
      <b>How To Use the <i>DataGrid</i> component</b>
	    <blockquote>
			  // This is an empty list. For all intents and purposes, imagine that the list is populated with 
			  // arbitrary java beans to be displayed as grid data.
			  List listData = new ArrayList();
			  
			  // Setup column definitions
			  List&lt;TableColumnDefinition&gt; colDefs = new ArrayList&lt;TableColumnDefinition&gt;();
			  colDefs.add(new TableColumnDefinition(&quot;server&quot;, &quot;Server&quot;, 0));
			  colDefs.add(new TableColumnDefinition(&quot;storeNo&quot;, &quot;Store&quot;, 1));
			  
			  // Set the size of the data grid component
			  Dimension size = new Dimension(400, 175);
			  // Or set the size of the data grid by equating the width to &quot;0&quot; so that the
			  // framework will calculate the width of the table.
			  Dimension size = new Dimension(0, 175);
			  
			  // Create table component
			  DataGrid table = new DataGrid(list, colDefs,
			          ListSelectionModel.SINGLE_SELECTION, size);
			  table.setup();
			  // Add parent class instance which should be an implementation of
			  // CustomSelectionListener interfacee
			  table.addItemSelectionListener(this);
			  
			  // Create ScrollableDataGrid grid component
			  ScrollableDataGrid dg = new ScrollableDataGrid(table);
		  </blockquote>
	</body>
</html>
